.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
!node_modules/@types/vscode/**
.github/**
coverage/**
**/*.log
**/package-lock.json
**/yarn.lock
**/.nyc_output
**/.vscode-test
test/**
tests/**
**/.DS_Store
**/*.md
!README.md
!CHANGELOG.md
!LICENSE.txt